/*  Main style untuk web sarimo
 *  by @sarimo
 */

@import url('https://fonts.googleapis.com/css?family=Lato|Dosis|Open+Sans:400,700');


/* DIRECT */

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  color: #495057;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-size: 0.9em;
}

h1, h2, h3 {
  color: #343A40;
  font-family: "Dosis", sans-serif;
}

a {
  color: #0CA678;
  text-decoration-style: dotted;
}

a:hover {
  color: #12B886;
}

blockquote {
  padding-left: 1em;
  border-left: 2px solid #DEE2E6;
  color: #868E96;
  margin-left: 1.3em;
  margin-bottom: 1.3em;
}

ol, ul {
  padding-left: 1.3em;
}


/* HEADER */

.header-default {
  background-color: #343A40;
  height: 44px;
}

.header-default-content {
  color: #F8F9FA;
  font-family: "Dosis", sans-serif;
  max-width: 50em;
  margin: 0 auto;
  padding: 7px 1.7em;
}

.header-default-content img {
  vertical-align: middle;
}

.header-default-content ul {
  vertical-align: middle;
  list-style-type: none;
  display: inline;
  padding-left: 0;
}

.header-default-content ul>li {
  display: inline-block;
  margin-left: 17px;
}

.header-default-content a {
  color: #F8F9FA;
  text-decoration: none;
}

.header-default-content a:hover {
  color: #868E96;
}


/* OPENING */

.opening {
  border-bottom: 1px solid #DEE2E6;
  padding-bottom: 40px;
}

.opening h1 {
  font-size: 10em;
  margin: 0 0 -70px 0;
}

.opening p {
  padding-left: 8px;
  font-size: #868E96;
}

.opening, .daftar-artikel, .artikel {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em 1.7em;
}


/* DAFTAR ARTIKEL */

.daftar-artikel {
  padding-top: 3em;
}

.tanggal-post {
  color: #868E96;
  margin: -1.7em 0 2em 0;
  font-size: 0.8em;
  font-family: "Lato", sans-serif;
}


/* ARTIKEL */

.artikel {
  border-top: 1px solid #DEE2E6;
}

.ref {
  border-top: 1px dotted #DEE2E6;
  color: #868E96;
  font-size: 0.8em;
  margin-top: 1.5em;
  padding: 1em 0;
}


/* GAMBAR */

.img-responsive {
  width: 100%;
}

.gambar {
  text-align: center;
  color: #868E96;
  font-size: 0.8em;
  margin: 0 2em 2.7em 0;
  font-family: "Lato", sans-serif;
}

.gambar img {
  padding: 1em;
  padding-bottom: 3em;
  border: 1px solid #E9ECEF;
  border-radius: 0.3em;
}

.gambar p {
  margin-top: -6.8em;
  margin-bottom: 1em;
  padding-right: 5px;
  color: #fff;
  text-align: right;
  font-size: 0.7em;
  opacity: 0.3;
}

.gambar a {
  color: #fff;
}
